// Stylus. All changes are detected and automatically compiled into CSS

// @import 'helpers'

html, body
  background-color #222
  
body
  padding-top 40px
  /*background-color black*/
  /*background-image url(/images/two-fantasy-worlds-above-earth-1920x1200.jpeg)
    background-repeat no-repeat
    background-attachment fixed
    background-position 100% 100% !important*/

.container > footer
  border-top 1px solid #222
  p
    text-align center
    color  #666

.container
  width 820px

body > .container > .content
  background-color #fff
  padding 20px
  margin 0 -20px
  border-radius 5px
  /*-webkit-box-shadow 5px 5px 5px #fff*/
  /*-moz-box-shadow 0 1px 2px rgba(0,0,0,.15)*/
  box-shadow 0px 0px 15px #AAf

.content
  .span11
    width 96%

  .span10, .span4
    min-height 500px

  h2.instance_name
    margin-bottom 1em
    text-shadow 0 -1px 0 #eee

ul.breadcrumb
  border 0px
  padding 2px 14px

.popover
  .inner
    .content
      padding 1em
      margin 0px
      

/* Page header tweaks */
.page-header
  background-color #f5f5f5
  padding 20px 20px 10px
  margin -20px -20px 20px
    
  
  /* Give a quick and non-cross-browser friendly divider */
  .span4
    margin-left 0
    padding-left 19px
    border-left 1px solid #eee

.topbar
  .brand
    color #A5DDE7
    text-shadow 0 -1px 0 #069
    font-weight normal
    
  .btn
    border 0

.topbar-inner, .topbar .fill
  box-shadow 0 5px 10px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1)

