table.zebra-striped.buckets
  thead
    tr
      th.blue.header Bucket Name
      th.header Keys Count
      //- th.header Data Used
  tbody
    {{each buckets}}
    tr.bucket
      td.name
        a(href="http://databevy.com:8098/riak/${$value}?keys=true", target="_blank") ${$value}
      td.count ?
      //- td.size 234 MB
    {{/each}}
